.submenu {
  background: transparent;
  box-shadow: none;
}

.submenu-title {
  margin-left: 10px;
}

.submenu-item {
  padding-left: 40px;
}

mat-toolbar img {
  display: block;
  width: 100%;
  max-width: 220px;
  height: auto;
  object-fit: contain;
}